                        /*GENERAL*/


body, html {
    height: 100%;
    overflow: visible;
    overflow-x: hidden;
    position: relative;
}


                        /*TEXT*/

.primary-text{
    font-family: "Arvo";
}

.secondary-text{
    font-family: "Raleway";
}


                        /*TITLE PAGE*/

#title-parallax{
    background-image: url(images/parallax.jpg);
    height: 100vh;
    width: 100vw;
/*    POSITIONING*/
    z-index: -1;
    position: absolute;
    margin: -10px -10px 10px -10px;
/*    EFFECT*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#title-page{
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#chris-headshot {
/*    box-shadow: 1px 5px 10px #888888;*/
    border-radius: 50%;
    max-height: 25em;
    margin-top: 7em;
    margin-bottom: 3em;
    max-width: 50%;
    margin:auto;
    display: block;
}

.header-text {
    color: white;
    text-shadow: 3px 3px 2px black;
    margin-bottom: 1em;
}

.subheader-text {
    color: white;
    text-shadow: 3px 3px 2px black;
    margin-bottom: 2em;
}

                        /*TECH PAGE*/
#tech-page{
    min-height: 50%;
    border-bottom: thick solid black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 5em;
}

#tech-title{
    border-bottom: thick solid blue;
}

.card-row-container{
    height: 60%;
    width: 100%;
/*    background-color: aqua;*/
    display: flex;
    flex-direction: row;
}

.card{
    width: 60%;
    height: 100%;
/*    background-color: black;*/
    box-shadow: 0px 8px 10px #888888;
    vertical-align: middle;
    border-radius: 5%;
    border: thin solid black;
    animation-delay: 1s;
}

.card img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

/*
#html-card{
    background: #fff886;
    background: -webkit-linear-gradient(bottom right,#fff886,#dd6161);
    background: -moz-linear-gradient(bottom right,#fff886,#dd6161);
    background: linear-gradient(bottom right,#fff886,#dd6161);        
}

#css-card{
    background: #5efce8;
    background: -webkit-linear-gradient(bottom,#5efce8,#736efe);
    background: -moz-linear-gradient(bottom,#5efce8,#736efe);
    background: linear-gradient(bottom,#5efce8,#736efe);
            
}

#bs-card{
    background: #312a6c;
    background: -webkit-linear-gradient(top left,#312a6c,#852d91);
    background: -moz-linear-gradient(top left,#312a6c,#852d91);
    background: linear-gradient(top left,#312a6c,#852d91);
            
}
*/
                        /*PERSONAL PAGE*/

#personal-page{

}