                        /*GENERAL*/


body, html {
    height: 100%;
    margin: 0;
    overflow: visible;
    overflow-x: hidden;
    position: relative;
}


                        /*TEXT*/

.primary-text{
    font-family: "Fjalla One";
    text-transform: uppercase;
}

.secondary-text{
    font-family: "Cantarell";
}


                        /*TITLE PAGE*/

#title-parallax{
    background-image: url(images/parallax.jpg);
    height: 100vh;
    width: 100vw;
/*    POSITIONING*/
    z-index: -1;
    position: absolute;
    margin: -10px -10px 10px -10px;
/*    EFFECT*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#title-page{
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#chris-headshot {
    border-radius: 50%;
    max-height: 30em;
    margin-top: 20rem;
    margin-bottom: 3em;
    max-width: 50%;
    margin:auto;
    display: block;
}

.header-text {
    color: white;
    text-shadow: 3px 3px 2px black;
    margin-bottom: 1em;
}

.subheader-text {
    color: white;
    text-shadow: 3px 3px 2px black;
    margin-bottom: 2em;

}

                        /*TECH PAGE*/
#tech-page{
    min-height: 50%;
    border-bottom: thick solid black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 5em;
}

#tech-title{
    border-bottom: thick solid blue;
    margin-bottom: 5rem;
}

#made-with-text{
    margin-bottom: 2rem;
}

.card-row{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.card{
    width: 15em;
    height: 20em;
    box-shadow: 0px 8px 10px #888888;
    border-radius: 0;
    animation-delay: 1s;
    flex: initial;
    margin-bottom: 1rem;
}

.card img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.tech-con-row{
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
}

@media (max-width:800px){
    .tech-con-row{
        flex-direction: column;
    }
}

.tech-panel{
    max-width: 31rem;
    flex-grow: 1;
    flex-wrap: wrap;
    
}

.tech-panel img {
    width: 10rem;
    margin-bottom: 1rem;
    box-shadow: 0px 8px 10px #888888;
}

.concepts-panel{
    max-width: 31rem;
    flex-grow: 1;
    box-shadow: 0px 8px 10px #888888;
}

                        /*PERSONAL PAGE*/

#personal-page{
    margin-top: 2em;
    min-height: 50%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#personal-title-container{
    border-bottom: thick solid red;
}


.flip-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.about-me-row{
    display: flex;
    box-shadow: 0px 8px 10px #888888;
    margin-bottom: 1rem;
    background-color: floralwhite;
}

@media (max-width: 800px){
    .about-me-row{
        flex-direction: column;
    }
}

.info-panel{
    flex-grow:3;
    height: 20rem;
    text-align: center;
    padding: 1rem;
}

.pic-panel{
    background-color: aqua;
    height: 20rem;
}

.pic-panel img{
    flex-shrink: 1;
    object-fit: cover;
}

#climbing-section {
    flex-direction: row-reverse;
}

@media (max-width: 800px){
    #climbing-section{
        flex-direction: column;
    }
}


